<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Especialidad</title>
  </head>
  <body>
    <div><h2 style="text-align: center">Búsqueda de medicamentos</h2></div>
    <div [formGroup]="viaForm" class="container">
      <mat-form-field class="example-full-width">
        <mat-label>Via</mat-label>
        <input matInput placeholder="Nombre" formControlName="via"/>
        <mat-error
            *ngIf="obtenerControlCampo('via')?.errors?.['required']"
          >
            La via es obligatoria.
          </mat-error>
      </mat-form-field>
      <button (click)="buscar()" mat-raised-button color="warn" class="search">Buscar</button>
      <button mat-raised-button color="primary" routerLink="/medicamento" class="cancel">Volver</button>
    </div>

    <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.medicamento_id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="forma">
          <th mat-header-cell *matHeaderCellDef> Forma farmaceutica </th>
          <td mat-cell *matCellDef="let element"> {{element.forma_farmaceutica}} </td>
        </ng-container>

        <ng-container matColumnDef="via">
          <th mat-header-cell *matHeaderCellDef> Via </th>
          <td mat-cell *matCellDef="let element"> {{element.via}} </td>
        </ng-container>

        <ng-container matColumnDef="caducidad">
          <th mat-header-cell *matHeaderCellDef> Fecha de caducidad </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_caducidad}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

    </div>
    <div class="container">
        <!-- ... tu código existente ... -->
        <div *ngIf="mensaje" style="color: red; margin-top: 10px;">{{ mensaje }}</div>
      </div>

  </body>
</html>
