<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div class="container">
    <h1>Buscamos ayudarte con tus problemas dentales</h1>
    <p>Dentistas capacitados y con muy buena reputación te revisarán y
      te ayudarán con tu problema. ¡¡¡Reserva tu cita ya en cualquiera de
      los hospitales afiliados a nuestra aplicación!!!</p>
    <div class="content">
      <img src="assets/images/agua-ozonizada-dentistas.webp" alt="Dentistas">
    </div>
  </div>

  <div class="texto-debajo">
    <h2>API integrada</h2>
  </div>
</body>
</html>
