<p>
  <mat-toolbar color="primary" *ngIf="verificar()">
    <button mat-button>
      <span routerLink="/components/home">DENTIBROOK</span>
    </button>
    <span class="example-spacer"></span>

    <button mat-icon-button routerLink="/components/especialidad" *ngIf="role == 'ODONTOLOGO'">
      <mat-icon>work</mat-icon>
    </button>

    <button mat-icon-button routerLink="/components/medicamento">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button routerLink="/components/servicios">
      <mat-icon>supervisor_account</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" routerLink="/components/tipopago">
      <mat-icon>payment</mat-icon>
    </button>

    <button mat-icon-button *ngIf="role == 'USER'" routerLink="/components/pacientes">
      <mat-icon>face</mat-icon>
    </button>

    <button mat-icon-button *ngIf="role == 'USER'" routerLink="/components/reputacion">
      <mat-icon>stars</mat-icon>
    </button>

    <button mat-icon-button *ngIf="role == 'ODONTOLOGO'" [matMenuTriggerFor]="menuUser">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button *ngIf="role == 'ODONTOLOGO'" [matMenuTriggerFor]="menuReportes">
      <mat-icon>report</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuSalir">Salir</button>
  </mat-toolbar>

  <mat-menu #menuUser="matMenu">
    <button mat-menu-item routerLink="/components/users">
      <span>Users</span>
    </button>
    <button mat-menu-item routerLink="/components/roles">
      <span>Roles</span>
    </button>
    <button mat-menu-item routerLink="/components/odontologo">
      <span>Odontologos</span>
    </button>
  </mat-menu>

  <mat-menu #menuReportes="matMenu">
    <button mat-menu-item routerLink="/components/reportes/reporte01">
      <span>Reporte 01</span>
    </button>
    <button mat-menu-item routerLink="/components/reportes/reporte02">
      <span>Reporte 02</span>
    </button>
  </mat-menu>

  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>
    <!-- Agrega más elementos de menú si es necesario -->
  </mat-menu>
</p>
<router-outlet></router-outlet>
